<%- include('./partials/header') %> 

    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <div class="mainContent">
                    <div class="formContainer">
                        <form class="create-form" method="post" enctype="multipart/form-data">
                            <h2>Create a Package </h2>
                            <div class="formWrapper">
                                <div class="inputGroup">
                                    <label for="sname">Sender's Name:</label>
                                    <input id="sname" type="text" name="senderName" title="senders name" >
                                </div>
    
                                <div class="inputGroup">
                                    <label for="semail">Sender's Email:</label>
                                    <input id="semail" type="text" name="senderEmail">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="rname">Receiver's Name</label>
                                    <input id="rname" type="text" name="receiverName">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="remail">Receiver's Email</label>
                                    <input id="remail" type="text" name="receiverEmail">
                                </div>

                                <div class="inputGroup">
                                    <label for="rnumber">Receiver's Number</label>
                                    <input id="rnumber" type="text" name="receiverNumber">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="daddress">Destination Address</label>
                                    <input id="daddress" type="text" name="destination">
                                </div>

                                <div class="inputGroup">
                                    <label for="originCountry">Origin Country</label>
                                    <input id="originCountry" type="text" name="originCountry">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="desCountry">Destination Country</label>
                                    <input id="desCountry" type="text" name="destinationCountry">
                                </div>

                                <div class="inputGroup">
                                    <label for="pack">package </label>
                                    <input id="pack" type="text" name="packages" placeholder="what are you sending to client?">
                                </div>

                                <div class="inputGroup">
                                    <label for="weight">weight</label>
                                    <input id="weight" type="text" name="weight">
                                </div>

                                <div class="inputGroup">
                                    <label for="currentlocation">Current Location</label>
                                    <input id="currentlocation" type="text" name="currentLocation">
                                </div>

                                <div class="inputGroup">
                                    <label for="depatureDate">Depature Date</label>
                                    <input id="depatureDate" type="date" name="depatureDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="deliveryDate">Expected Delivery Date</label>
                                    <input id="deliveryDate" type="date" name="deliveryDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="shipmentMethod">Shipment Method</label>
                                    <select name="shipmentMethod" id="shipmentMethod">
                                        <option selected disabled>--select shipment method--</option>
                                        <option value="Express Delivery">Express Delivery</option>
                                    </select>
                                </div>

                                <div class="inputGroup">
                                    <label for="PickupDate">Pickup Date & time</label>
                                    <input id="PickupDate" type="date" name="pickupDate">
                                </div>

                                <div class="inputGroup">
                                    <label for="status">Status of item</label>
                                    <select name="status" id="status">
                                        <option selected disabled>Select Package Status</option>
                                        <option value="On transit">On Transit</option>
                                        <option value="Seized">Seized</option>
                                        <option value="Arrived">Arrived</option>
                                    </select>
                                    <!-- <input id="status" type="text" name="status"> -->
                                </div>


                                <div class="inputGroup">
                                    <label for="packageimg">upload package image</label>
                                    <input id="packageimg" type="file" name="image" multiple=true >
                                </div>

                                <button class="btn" type="submit">Create</button>
  
                        </div>
                         <div id="result" style="display: flex; gap:10px; flex-wrap: wrap; flex-grow: 1;"></div>
                    
                        </form>
                    </div>
                </div>
            </div>
        </div>

            <!-- package receipt  -->
                <div class="receipt-container">
                    <span class="close-icon">&times</span>
                   <div class="receipt-wrapper">
                        <div class="inner-container-left">
                            <div class="barcode">
                            <div class="barcode-cont">
                                <img src="/admin/images/barcode.webp" alt="">
                            </div>
                                <div class="printarea">
                                    <span><i class="fa-solid fa-print" onclick=javascript:window.receipt-wrapper.print()></i> Print</span>
                                </div>
                                <table>
                                    <tr>
                                        <td>ORIGIN</th>
                                        <td class="origin"></td>
                                    </tr>

                                    <tr>
                                        <td>DESTINATION</th>
                                        <td class="destination"></td>
                                    </tr>

                                    <tr>
                                        <td  style="text-align:center;" colspan="2" > Tracking Code: <span class="trackingCode"></span></td>
                                    </tr>
                            
                                </table>

                                <div class="bgimage">
                                    <div class="depositor-receiver">
                                        <div class="header">Depositor</div>
                                        <h4>Name</h4>
                                        <p><span class="depositor"></span></p>
                                    </div>

                                    <div class="depositor-receiver">
                                    <div class="header">Receiver</div>
                                    <h4>Name / Address</h4>
                                    <p><span class="receiver-name"></span> / <span class="receiver-address"></span></p>
                                    </div>
                                </div>

                                <div class="pickup-section">
                                    <h3>FOR PICKUP OR TRACKING</h3>
                                    <p>website: <span><%= siteLink  %></span></p>
                                </div>
                            </div>
                        </div>

                        <div class="inner-container-right">
                            <div class="delivery-bus-wrapper">
                                <div class="bus">
                                    <img src="/admin/images/van1.png" alt="">
                                </div>
                                <div class="hero-text">
                                    <h3>COURIER SERVICE</h3> 
                                    <span> <%= siteName %> </span>
                                </div>
                            </div>
                            <div class="details">
                                <div class="bgcolor"></div>
                                <ul>
                                    <li><span>Contact Person:</span> &nbsp; <span class="receiver-contact"></span> </li>
                                    <li><span>Dip Agent</span></li>
                                    <li><span>BENEFICIARY:</span> &nbsp; <span class="receiver-name2"></span></li>
                                    <li><span>DEPOSIT CODE:</span> &nbsp; <span class="deposit-code"></span></li>
                                </ul>
                                <div class="bgcolor"></div>
                            </div>

                            <div class="warning">
                                <div class="header-warning">WARNING!</div>
                                <p style="padding: 5px 10px">it is to inform you that our company has ordered your goods (02/26/2023) hence the Receipt of the order has been attached. The estimated time for the delivery was (1 To 2 Days) working days.</p>
                            </div>
                            <div class="btn-receipt-container">
                                <button class="btn download">Download</button>
                            </div>
                        </div>
                    </div>
                </div>


    </main>

    <script type="module">
        import {notification, showSpinner, hideSpinner, closeNotification} from '/admin/js/notification.js';

        const createForm = document.querySelector('.create-form')
        const btn = document.querySelector('.btn')
        const closeIcon = document.querySelector('.close-icon')

        toastBtn.addEventListener('click', () => closeNotification(toast))

        // function to display the receipt after creation of package 
        function disPlayReceipt(details) {
            const {destination, currentLocation, trackingId, senderName, senderEmail, receiverName, receiverEmail, receiverNumber, depositCode, originCountry, destinationCountry} = details
            const receiptWrapper = document.querySelector('.receipt-container');
            const origin = document.querySelector('.origin');
            const destinations = document.querySelector('.destination');
            const trackingCode = document.querySelector('.trackingCode');
            const depositor = document.querySelector('.depositor');
            const receiver = document.querySelector('.receiver-name');
            const receiver2 = document.querySelector('.receiver-name2');
            const receiverAddress = document.querySelector('.receiver-address');
            const receiverContact = document.querySelector('.receiver-contact');
            const deposit_code = document.querySelector('.deposit-code')
            

            destinations.textContent = destinationCountry;
            origin.textContent = originCountry;
            trackingCode.textContent = trackingId;
            depositor.textContent = senderName;
            receiver.textContent = receiverName;
            receiver2.textContent = receiverName;
            receiverAddress.textContent = receiverEmail;
            receiverContact.textContent = receiverNumber;
            deposit_code.textContent = depositCode;

            receiptWrapper.classList.add('show')
        }

        // function to close the receipt after creation 
        function closeReceipt() {
            const receiptWrapper = document.querySelector('.receipt-container');
            receiptWrapper.classList.remove('show')
        }

        closeIcon.addEventListener('click', closeReceipt)

        // function to download receipt to pdf 
        function receiptToPdf() {
            download.textContent = 'Downloading...'
            const htmlContent = document.querySelector('.receipt-wrapper')

            html2pdf().from(htmlContent).save('invoice.pdf'); 

            download.textContent = 'Download'

        }

        let download = document.querySelector('.download')
        download.addEventListener('click', receiptToPdf)





        // frondend image upload 
        const frontendImgUpload = async (e) => {
            if(window.File && window.FileReader && window.FileList && window.Blob) {
                const files = e.target.files;
                const result = document.querySelector('#result');

                for(let i = 0; i < files.length; i++) {
                    const picReader = new FileReader();
                    picReader.addEventListener('load', (event) => {
                        const picFile = event.target
                        const div = document.createElement('div')
                        div.innerHTML = `<img class="thumnail" style="height: 100px; object-fit: contain;" src="${picFile.result}" title="${picFile.name}" />`;
                        result.appendChild(div) 
                    })
                    picReader.readAsDataURL(files[i]);
                }

            } else {
                notification.error("Your browser does not support File Upload", toast, toastIcon, toastMessage, closeNotification)
                return
            }
            
        }
        
        const imgUpload = document.querySelector('#packageimg')
        imgUpload.addEventListener('change', (e) => frontendImgUpload(e))

        // function to create new package 
        const createpackage = async (e) => {
            e.preventDefault()

            showSpinner(btn)

            const senderName = createForm.senderName.value
            const senderEmail = createForm.senderEmail.value
            const receiverName = createForm.receiverName.value
            const receiverEmail = createForm.receiverEmail.value
            const receiverNumber = createForm.receiverNumber.value
            const destination = createForm.destination.value
            const packages = createForm.packages.value
            const weight = createForm.weight.value
            const currentLocation = createForm.currentLocation.value
            const depatureDate = createForm.depatureDate.value
            const deliveryDate = createForm.deliveryDate.value
            const shipmentMethod = createForm.shipmentMethod.value
            const pickupDate = createForm.pickupDate.value
            const status = createForm.status.value

            try {
                // validation
                if(!senderName || !senderEmail|| !receiverName|| !receiverEmail|| !receiverNumber|| !destination|| !packages|| !weight|| !currentLocation|| !depatureDate|| !deliveryDate|| !shipmentMethod|| !pickupDate||!status) {
                    throw new Error('All fields are required');
                }

                const response = await fetch("/packages/", {
                    method: "POST",
                    body: new FormData(createForm)
                });

                if(!response.ok) {
                    throw new Error(response.statusText);
                }

                const result = await response.json();

                if(result.error) {
                    throw new Error(result.error);
                }

                hideSpinner(btn, "Create")
                notification.success('package successfully created', toast, toastIcon, toastMessage, closeNotification);

                disPlayReceipt(result)
                console.log(result)
                // createForm.reset();

            } catch (error) {
                hideSpinner(btn, "Create")
                notification.error(error.message, toast, toastIcon, toastMessage, closeNotification);
                return;
            }
        }
        createForm.addEventListener('submit', createpackage);
    </script>

<%- include('./partials/footer') %> 
