<%- include('./partials/header') %> 

<% let booy = true %>     
    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <div class="mainContent">
                    <% if(!singlepackage) { %>
                        <p>Oops! this product does not exits</p>
                    <% } else {%>
                    <div class="formContainer">
                        <form class="editForm">
                            <h2>Edit Package</h2>
                            <div class="formWrapper">
                                <div class="inputGroup">
                                    <label for="sendername">Sender's Name:</label>
                                    <input id="sendername" type="text" name="senderName" value="<%= singlepackage.senderName %>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="senderemail">Sender's Email:</label>
                                    <input id="senderemail" type="text" name="senderEmail" value="<%= singlepackage.senderEmail%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="receivername">Receiver's Name</label>
                                    <input id="receivername" type="text" name="receiverName" value="<%= singlepackage.receiverName%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="receiveremail">Receiver's Email</label>
                                    <input id="receiveremail" type="text" name="receiverEmail" value="<%= singlepackage.receiverEmail%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="receivernumber">Receiver's Number</label>
                                    <input id="receivernumber" type="text" name="receiverNumber" value="<%= singlepackage.receiverNumber%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="destination">Destination Address</label>
                                    <input id="destination" type="text" name="destination" value="<%= singlepackage.destination%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="package">package </label>
                                    <input id="package" type="text" name="item" placeholder="what are you sending to client?" value="<%= singlepackage.item%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="weight">weight</label>
                                    <input id="weight" type="text" name="weight" value="<%= singlepackage.weight%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="currentlocation">Current Location</label>
                                    <input id="currentlocation" type="text" name="currentLocation" value="<%= singlepackage.currentLocation %>">
                                </div>

                                <div class="inputGroup">
                                    <label for="departuredate">Depature Date</label>
                                    <input id="departuredate" type="date" name="departureDate" value="<%= singlepackage.departureDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="deliveryDate">Expected Delivery Date</label>
                                    <input id="deliveryDate" type="date" name="deliveryDate" value="<%= singlepackage.deliveryDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="shipmentMethod">Shipment Method</label>
                                    <select name="shipmentMethod" id="shipmentMethod">
                                        <option  disabled>--select shipment method--</option>
                                        <option selected value="Express Delivery">Express Delivery</option>
                                    </select>
                                </div>

                                <div class="inputGroup">
                                    <label for="pickupDate">Pickup Date & time</label>
                                    <input id="pickupDate" type="date" name="PickupDate" value="<%= singlepackage.pickupDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="status">Status of item</label>
                                    <input id="status" type="text" name="status" value="<%= singlepackage.status%>">
                                </div>
                                
                                <button type="submit" class="btn">Update</button>
                        </div>

                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
    <script type="module">
        import {hideSpinner, showSpinner, notification, closeNotification} from '/admin/js/notification.js';

        toastBtn.addEventListener('click', () => closeNotification(toast))

        const btn = document.querySelector('.btn')
        const editForm = document.querySelector('.editForm')
        const queryStrings = new URLSearchParams(document.location.search)
        const packageId = queryStrings.get('package')

        const updatePackage = async (e) => {
            e.preventDefault()

            showSpinner(btn)

            const senderName = editForm.senderName.value
            const senderEmail = editForm.senderEmail.value
            const receiverName = editForm.receiverName.value
            const receiverEmail = editForm.receiverEmail.value
            const receiverNumber = editForm.receiverNumber.value
            const destination = editForm.destination.value
            const item = editForm.item.value
            const weight = editForm.weight.value
            const currentLocation = editForm.currentLocation.value
            const depatureDate = editForm.departureDate.value
            const deliveryDate = editForm.deliveryDate.value
            const shipmentMethod = editForm.shipmentMethod.value
            const PickupDate = editForm.PickupDate.value
            const status = editForm.status.value
 
            try {
                const packages = {
                    senderName,
                    senderEmail,
                    receiverName,
                    receiverEmail,
                    receiverNumber,
                    destination,
                    item,
                    weight,
                    currentLocation,
                    depatureDate,
                    deliveryDate,
                    shipmentMethod,
                    PickupDate,
                    status
                }

                const response = await fetch(`/packages/${packageId}`, {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(packages)
                })

                if(!response.ok) {
                    throw new Error(response.statusText)
                }
                const json = await response.json()

                notification.success(json.message, toast, toastIcon, toastMessage, closeNotification)
             
                hideSpinner(btn, 'Update')
            
            } catch (error) {
                notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
                hideSpinner(btn, 'Update')
            }
        }
        
        editForm.addEventListener('submit', updatePackage)
    </script>

<%- include('./partials/footer') %> 
