<% title = `${siteName} || Edit package` %>

<%- include('./partials/header') %> 

<% let booy = true %>     
    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <div class="mainContent">
                    <% if(!singlepackage) { %>
                        <p>Oops! this product does not exits</p>
                    <% } else {%>
                    <div class="formContainer">
                        <form class="editForm">
                            <h2>Edit Package</h2>
                            <div class="formWrapper">
                                <div class="inputGroup">
                                    <label for="sendername">Sender's Name:</label>
                                    <input id="sendername" type="text" name="senderName" value="<%= singlepackage.senderName %>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="senderemail">Sender's Email:</label>
                                    <input id="senderemail" type="text" name="senderEmail" value="<%= singlepackage.senderEmail%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="receivername">Receiver's Name</label>
                                    <input id="receivername" type="text" name="receiverName" value="<%= singlepackage.receiverName%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="receiveremail">Receiver's Email</label>
                                    <input id="receiveremail" type="text" name="receiverEmail" value="<%= singlepackage.receiverEmail%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="receivernumber">Receiver's Number</label>
                                    <input id="receivernumber" type="text" name="receiverNumber" value="<%= singlepackage.receiverNumber%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="destination">Destination Address</label>
                                    <input id="destination" type="text" name="destination" value="<%= singlepackage.destination%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="package">package </label>
                                    <input id="package" type="text" name="item" placeholder="what are you sending to client?" value="<%= singlepackage.item%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="weight">weight</label>
                                    <input id="weight" type="text" name="weight" value="<%= singlepackage.weight%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="currentlocation">Current Location</label>
                                    <input id="currentlocation" type="text" name="currentLocation" value="<%= singlepackage.currentLocation %>">
                                </div>

                                <div class="inputGroup">
                                    <label for="departuredate">Depature Date</label>
                                    <input id="departuredate" type="date" name="departureDate" value="<%= singlepackage.departureDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="deliveryDate">Expected Delivery Date</label>
                                    <input id="deliveryDate" type="date" name="deliveryDate" value="<%= singlepackage.deliveryDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="shipmentMethod">Shipment Method</label>
                                    <select name="shipmentMethod" id="shipmentMethod">
                                        <option  disabled>--select shipment method--</option>
                                        <option selected value="Express Delivery">Express Delivery</option>
                                    </select>
                                </div>

                                <div class="inputGroup">
                                    <label for="pickupDate">Pickup Date & time</label>
                                    <input id="pickupDate" type="date" name="PickupDate" value="<%= singlepackage.pickupDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="status">Status of item</label>
                                    <input id="status" type="text" name="status" value="<%= singlepackage.status%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="packageimg">upload package image</label>
                                    <input id="packageimg" type="file" name="image" multiple=true >
                                </div>

                                
                                <button type="submit" class="btn">Update</button>
                        </div>

                         <div id="result" style="display: flex; gap:10px; flex-wrap: wrap; flex-grow: 1;">

                            <style>

                                .eidt-image-wrapper {
                                    position: relative;
                                }
                                .eidt-image-wrapper:hover .delete-image {
                                    display: block;
                                }

                                .delete-image {
                                    display: none;
                                    position: absolute;
                                    font-size: 40px;
                                    right: 0;
                                    color: red;
                                    cursor: pointer;

                                }

                            </style>

                            <% if(singlepackage.image.length < 1) { %>
                                <p>This Package does not have any image</p>
                                <% } else { %>
                                    <% for(let i = 0; i < singlepackage.image.length; i++) { %>
                                        <div class="eidt-image-wrapper">
                                            <span class="delete-image" data-filename ="<%= singlepackage.image[i].fileName %>" data-packageid="<%= singlepackage._id %>">&times</span>
                                            <img class="thumnail" style="height: 200px; object-fit: contain;" src="<%= singlepackage.image[i].filePath %>" alt="">
                                        </div>
                                <% }
                                    }
                                %> 
                        </div>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
    <script type="module">
        import {hideSpinner, showSpinner, notification, closeNotification} from '/admin/js/notification.js';

        toastBtn.addEventListener('click', () => closeNotification(toast))

        const btn = document.querySelector('.btn')
        const editForm = document.querySelector('.editForm')
        const queryStrings = new URLSearchParams(document.location.search)
        const packageId = queryStrings.get('package')





         // frondend image upload 
        const frontendImgUpload = async (e) => {
            if(window.File && window.FileReader && window.FileList && window.Blob) {
                const files = e.target.files;
                const result = document.querySelector('#result');

                for(let i = 0; i < files.length; i++) {
                    const picReader = new FileReader();
                    picReader.addEventListener('load', (event) => {
                        const picFile = event.target
                        const div = document.createElement('div')
                        div.innerHTML = `<img class="thumnail" style="height: 100px; object-fit: contain;" src="${picFile.result}" title="${picFile.name}" />`;
                        result.appendChild(div) 
                    })
                    picReader.readAsDataURL(files[i]);
                }

            } else {
                notification.error("Your browser does not support File Upload", toast, toastIcon, toastMessage, closeNotification)
                return
            }
            
        }
        
        const imgUpload = document.querySelector('#packageimg')
        imgUpload.addEventListener('change', (e) => frontendImgUpload(e))






        // function to delete image while editing package 
        const deleteImageIcons = document.querySelectorAll('.delete-image')

        const deleteImage = async (e) => {
    
            try {
                const fileName = e.target.dataset.filename
                const packageId = e.target.dataset.packageid

                const details = [fileName, packageId]

                const response = await fetch(`/packages/images/delete/${details}`, {
                    method: 'DELETE',
                    headers: {'Content-Type':'application/json'}
                })

                if(!response.ok) {
                    throw new Error('Image fialed to delete')
                }
                const result = await response.json()

                if(result.error) {
                    throw new Error(result.error);
                }

                notification.success(result.message, toast, toastIcon, toastMessage, closeNotification);

                location.reload()
                
            } catch (error) {
                notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
            }
        }

        deleteImageIcons.forEach(deleteImageIcon =>  deleteImageIcon.addEventListener('click',  deleteImage))
       

        // function to delete image ends here










        const updatePackage = async (e) => {
            e.preventDefault()

            showSpinner(btn)

            const senderName = editForm.senderName.value
            const senderEmail = editForm.senderEmail.value
            const receiverName = editForm.receiverName.value
            const receiverEmail = editForm.receiverEmail.value
            const receiverNumber = editForm.receiverNumber.value
            const destination = editForm.destination.value
            const item = editForm.item.value
            const weight = editForm.weight.value
            const currentLocation = editForm.currentLocation.value
            const depatureDate = editForm.departureDate.value
            const deliveryDate = editForm.deliveryDate.value
            const shipmentMethod = editForm.shipmentMethod.value
            const PickupDate = editForm.PickupDate.value
            const status = editForm.status.value
 
            try {
                const packages = {
                    senderName,
                    senderEmail,
                    receiverName,
                    receiverEmail,
                    receiverNumber,
                    destination,
                    item,
                    weight,
                    currentLocation,
                    depatureDate,
                    deliveryDate,
                    shipmentMethod,
                    PickupDate,
                    status
                }

                const response = await fetch(`/packages/${packageId}`, {
                    method: 'PUT',
                    // headers: {'Content-Type': 'application/json'},
                    body: new FormData(editForm)
                    // body: JSON.stringify(packages)
                })

                if(!response.ok) {
                    throw new Error(response.statusText)
                }
                const json = await response.json()

                notification.success(json.message, toast, toastIcon, toastMessage, closeNotification)
             
                hideSpinner(btn, 'Update')
            
            } catch (error) {
                notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
                hideSpinner(btn, 'Update')
            }
        }
        
        editForm.addEventListener('submit', updatePackage)
    </script>

<%- include('./partials/footer') %> 
