<%- include('./partials/header') %> 

    
    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar") %> 
            <div class="rightContent">
                <%- include('./partials/topBar') %> 
                <div class="mainContent">
                    <div class="formContainer">
                        <form action="">
                            <h2>Edit Package</h2>
                            <div class="formWrapper">
                                <div class="inputGroup">
                                    <label for="">Sender's Name:</label>
                                    <input type="text" name="" value="<%= singlepackage.sendersName %>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Sender's Email:</label>
                                    <input type="text" name="" value="<%= singlepackage.sendersEmail%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Receiver's Name</label>
                                    <input type="text" name="" value="<%= singlepackage.receiversName%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Receiver's Email</label>
                                    <input type="text" name="" value="<%= singlepackage.receiversEmail%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Receiver's Number</label>
                                    <input type="text" name="" value="<%= singlepackage.receiversNumber%>">
                                </div>
    
                                <div class="inputGroup">
                                    <label for="">Destination Address</label>
                                    <input type="text" name="" value="<%= singlepackage.receiversAddress%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="">package </label>
                                    <input type="text" name="" placeholder="what are you sending to client?" value="<%= singlepackage.item%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="">weight</label>
                                    <input type="text" name="" value="<%= singlepackage.weight%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Current Location</label>
                                    <input type="text" name="" value="<%= singlepackage.location %>">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Depature Date</label>
                                    <input type="date" name="" value="<%= singlepackage.depatureDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Expected Delivery Date</label>
                                    <input type="date" name="" value="<%= singlepackage.deliveryDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Shipment Method</label>
                                    <select name="" id="">
                                        <option  disabled>--select shipment method--</option>
                                        <option selected value="Express Delivery">Express Delivery</option>
                                    </select>
                                </div>

                                <div class="inputGroup">
                                    <label for="">Pickup Date & time</label>
                                    <input type="date" name="" value="<%= singlepackage.pickupDate%>">
                                </div>

                                <div class="inputGroup">
                                    <label for="">Status of item</label>
                                    <input type="text" name="" value="<%= singlepackage.status%>">
                                </div>
                                
                                <button class="btn">Update</button>
                            <script></script>
                        </div>

                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

<%- include('./partials/footer') %> 
