<%- include('./partials/header.ejs') %> 

    
    <main>
        <div class="mainWrapper">
            <%- include("./partials/sideBar.ejs") %> 
            <div class="rightContent">
                <%- include('./partials/topBar.ejs') %> 
                <section>

                    <div class="mobile-tabs">
                        <ul>
                            <li class="active nav-profile">Profile</li>
                            <li class="nav-security">Security</li>
                        </ul>
                    </div>

                    <div class="setting-container">
                        <div class="tabs">
                            <ul>
                                <li class="active nav-profile2">Profile</li>
                                <li class="nav-security2">Security</li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="single-content profile active">
                                <h3>Profile</h3>
                                <div class="security-details">
                                    <div class="profile-details">
                                        <p>
                                            <span>Display Name</span> 
                                            <span> Ede Success</span>
                                        </p>

                                        <p>
                                            <span>Email</span> 
                                            <span><%= admin.email %> </span>
                                        </p>
                                    </div>
                                    <button class="edit-profile edit">Edit Profile</button>
                                </div>
                            </div>
                            <div class="single-content security">
                                <h3>Security</h3>
                                <div class="security-details">
                                    <div class="password-inner">
                                        <p>
                                            <span>Change password</span>
                                        </p>
                                        <button class="pwd-btn">Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <!-- edit profile modal  -->
                    <div class="modal profile-modal">
                        <div class="modal-content">
                            <div class="close-btn">
                                <i class="fa-solid fa-xmark close-modal m1"></i>
                            </div>
                            <form class="change-displayName"> 
                                <div class="input-group">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="dname">
                                </div>

                                <div class="input-group">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" name="email" value="edesuccess54@gmail.com" disabled>
                                </div>
                                
                                <button class="btn display-name-btn">Update Info</button>
                                <p class="message"></p>
                            </form>
                        </div>
                    </div>

                    <!-- change password modal  -->
                    <div class="modal password-modal">
                        <div class="modal-content">
                            <div class="close-btn">
                                <i class="fa-solid fa-xmark close-modal2 m2"></i>
                            </div>
                            <form class="change-password">
                                <div class="input-group">
                                    <label for="pwd1">Old Password <span class="asterics error">*</span></label>
                                    <input type="password" id="pwd1" name="oldPwd">
                                </div>

                                <div class="input-group">
                                    <label for="pwd2">New Password <span class="asterics error">*</span></label>
                                    <input type="password" id="pwd2" name="newPwd"  >
                                </div>
                                <div class="input-group">
                                    <label for="pwd3">Confirm Password <span class="asterics error">*</span></label>
                                    <input type="password" id="pwd3" name="cPwd"  >
                                </div>
                                <button class="btn change-password-btn">Change Password</button>
                                <p class="message"></p>
                            </form>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </main>

    <script>
        const changePasswordForm = document.querySelector('.change-password');
        const changeDisplayForm = document.querySelector('.change-disPlayName');
        const message = document.querySelector('.message')
        const btn = document.querySelector('.change-password-btn')

        // change password request 
        const changePassword = async (e) => {
            e.preventDefault();

            btn.textContent = "Processing...";
            message.className = 'message';
            message.textContent = "";

            console.log("here is the begining ;", message)
            const oldpassword = changePasswordForm.oldPwd.value;
            const newpassword = changePasswordForm.newPwd.value;
            const confirmpassword = changePasswordForm.cPwd.value;
           
            // console.log(message)
            try {
                // alert('yes')
                // if(!oldpassword || !newpassword || !confirmpassword) {
                //     throw new Error("Fields cannot be empty")
                // }

                // console.log(message)
                // if(newpassword != confirmpassword) {
                //     throw new Error("Password does not match")
                // }

                const formData = {
                    oldpassword,
                    newpassword,
                    confirmpassword
                }

                const response = await fetch('/admin/changepassword', {
                method:'PUT',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(formData)
                })

                if(!response.ok) {
                    throw new Error(response.ResponseText)
                }

                const json = await response.json()

                if(json.error) {
                    throw new Error(json.error)
                }

                btn.textContent = "Change Password"
                message.classList.remove('error')
                message.classList.add('success')
                message.textContent = json.message
                
            } catch (error) {
                btn.textContent = "Change Password"
                // message.classList.add('error')
                // message.textContent += error.message
                document.querySelector('.message').textContent = error.message
                console.log('here it go', message)
                console.log(" here is the message element: "+ error.message)
            }
        }
        changePasswordForm.addEventListener('submit', changePassword)

        // change display name 
        const changeDisplayName = async (e) => {
            e.preventDefault()
            const btn = document.querySelector('.display-name-btn')

            btn.textContent= "Updating..."
            const adminName = changeDisplayForm.dname.value
            const message = document.querySelector('.message')

            message.className="message"
            message.textContent = '';
            
            try {
                if(!adminName) {
                    throw new Error("Please enter a display name")
                }

                const response = await fetch('/admin/displayName', {
                    method: "PUT",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({adminName})
                })

                if(!response.ok) {
                    throw new Error("Display name failed to change")
                }

                const json = await response.json()
                message.classList.add('success')
                message.textContent = json.message
                btn.textContent = "Update Info"

            } catch (error) {
                message.classList.add('error')
                message.textContent = error.message
                btn.textContent = "Update Info"
            }
        }
        changeDisplayForm.addEventListener('submit', changeDisplayName)
    </script>

<%- include('./partials/footer') %> 
