<%- include('./partials/head')  %> 
<body>

<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="inner-banner">
	<div class="thm-container">
		<h2>Company History</h2>
		<ul class="breadcumb">
			<li><a href="index-2.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Company History</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding single-service-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 pull-right">
				<div class="image-box clearfix">
					<img src="/images/services/s4.jpg" alt="<%= siteName %> Company" width="100%" height="620px" style="pointer-events: none"/>
				</div>
				<div class="sec-title">
					<h2><span>Company History</span></h2>
					<p><%= siteName %> headquartered in Silver Spring, Maryland has been providing truckload services for over 25 years. Initially founded as a traditional truckload carrier, Atlan has diversified itself as a true transportation solutions provider and technology innovator, committed to delivering unique, high-value and customized solutions to its customers.</p>
				</div>
				<div class="image-caption-box">
					<div class="text-box">
						<h2>1988 - Start in New York, US</h2>
						<p><%= siteName %> was founded in September 1988 with twelve trailer operation in New York, US, just outside of Pittsburgh. Prior to starting <%= siteName %>, we introduced trucking and developed passion for the industry, working for less-than-truckload (LTL) providers Hammel’s Express and PITT OHIO (formerly PITT OHIO EXPRESS) from 1976 through 1988. <%= siteName %> is built on values of hard work and dedication to service as the founding principles of <%= siteName %> Company.</p>
					</div>
					<div class="caption-box-img">
						<img src="/images/services/single-service-3.jpg" alt="<%= siteName %> Company"/>
					</div>
				</div>
				<div class="image-caption-box">
					<div class="text-box">
						<h2>1999 - Expanded its core territory</h2>
						<p>Throughout the mid to late 1990´s, <%= siteName %> expanded its core territory to cover the entire Mid-Atlantic region and built a warehouse/station in the United Kingdom, growing both organically and through acquisition; as well as offering its customers over-the-road truckload and volume LTL services. By 1999, <%= siteName %> was operating out of 10 terminals and had finished completion of its current corporate headquarters in Chicago, US. It was at this time <%= siteName %> broadened its services by unveiling a non-asset based Logistics division to offer customers 50 state capability through a strategic partner network. </p>
					</div>
					<div class="caption-box-img">
						<img src="/images/services/single-service-4.jpg" alt="<%= siteName %> Company"/>
					</div>
				</div>
				<div class="image-caption-box">
					<div class="text-box">
						<h2>2007 - Introduced on-board computing systems</h2>
						<p>Understanding the critical link in the customer supply chain, Atlan introduced on-board computing systems in each of its tractors in late 2007. This breakthrough enabled Atlan customers the ability to track and trace their freight in real time on the company website; as well as providing up to the minute critical data events via email and electronic data interchange (EDI).</p>
					</div>
					<div class="caption-box-img">
						<img src="/images/services/2.jpg" alt="<%= siteName %> Company"/>
					</div>
				</div>
				<div class="image-caption-box">
					<div class="text-box">
						<h2>2019 - Present</h2>
						<p>Today, <%= siteName %> operates more than 5000 trucks and vans in its 406 terminal network throughout the Atlantic region. Our hybrid approach to Truckload transportation and Logistics services provide our customers the flexibility in their supply chain to meet even their toughest challenges. <%= siteName %>'s customer centric philosophy is centered around delivering high-value, cost effective transportation solutions that are truly customized to your needs.</p>
					</div>
					<div class="caption-box-img">
						<img src="/images/services/1.jpg" alt="<%= siteName %> Company"/>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>



<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and Courier</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="/contact">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include footer  -->
<%- include('./partials/footer.ejs')  %> 