<%- include('./partials/head')  %> 
<body>
<!-- include the main navigation  -->
<%- include('./partials/nav')  %> 

<section class="rev_slider_wrapper thm-banner-wrapper">
	<div id="slider1" class="rev_slider"  data-version="5.0">
		<ul>

			<li data-transition="parallaxvertical" data-ease="SlowMo.ease">
				<img src="images/slider/11.jpg"  alt="">
				<div class="tp-caption sfb tp-resizeme caption-h1" 
			        data-x="right" data-hoffset="0" 
			        data-y="top" data-voffset="188" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="500">
					Welcome to <span style="color: #008080; font-size: 64px;">Crest Global</span> Delivery <br>

			    </div>
				<div class="tp-caption sfb tp-resizeme caption-p" 
			        data-x="right" data-hoffset="33" 
			        data-y="top" data-voffset="265" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="1000">
					A new Perspective of Business Delivery
			    </div>
				<div class="tp-caption sfl tp-resizeme" 
			        data-x="right" data-hoffset="127" 
			        data-y="top" data-voffset="440" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="1500">
					<a href="/request-qoute" class="thm-btn">Get Free Quote <i class="fa fa-arrow-right"></i></a>
			    </div>
				<div class="tp-caption sfr tp-resizeme" 
			        data-x="right" data-hoffset="342" 
			        data-y="top" data-voffset="440" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="2000">
					<a href="/services" class="thm-btn inverse">View Services <i class="fa fa-arrow-right"></i></a>
			    </div>
			</li>

			<li data-transition="parallaxvertical" data-ease="SlowMo.ease">
				<img src="/images/slider/15.jpg"  alt="">
				<div class="tp-caption sfb tp-resizeme caption-h1" 
			        data-x="left" data-hoffset="0" 
			        data-y="top" data-voffset="248" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="500">
					We are the biggest courier<br>network company
			    </div>
				<div class="tp-caption sfb tp-resizeme caption-p" 
			        data-x="left" data-hoffset="0" 
			        data-y="top" data-voffset="375" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="1000">
					Think courier.Think us
			    </div>
				<div class="tp-caption sfl tp-resizeme" 
			        data-x="left" data-hoffset="0" 
			        data-y="top" data-voffset="500" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="1500">
					<a href="/request-qoute" class="thm-btn">Get Free Quote <i class="fa fa-arrow-right"></i></a>
			    </div>
				<div class="tp-caption sfr tp-resizeme" 
			        data-x="left" data-hoffset="215" 
			        data-y="top" data-voffset="500" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="2000">
					<a href="services" class="thm-btn inverse">View Services <i class="fa fa-arrow-right"></i></a>
			    </div>
			</li>

			<li data-transition="parallaxvertical" data-ease="SlowMo.ease">
				<img src="/images/slider/13.jpg"  alt="">
			    <div class="tp-caption sfb tp-resizeme caption-h1" 
			        data-x="right" data-hoffset="0" 
			        data-y="top" data-voffset="188" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="500">
					Great Services, Great Prices
			    </div>
				<div class="tp-caption sfb tp-resizeme caption-p" 
			        data-x="right" data-hoffset="50" 
			        data-y="top" data-voffset="275" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="1100">
					Trust is the best way to keep trust. We owe it.
			    </div>
			    <div class="tp-caption sfl tp-resizeme" 
			        data-x="right" data-hoffset="460" 
			        data-y="top" data-voffset="360" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="1500">
			    </div>
				<div class="tp-caption sfr tp-resizeme" 
			        data-x="left" data-hoffset="215" 
			        data-y="top" data-voffset="500" 
			        data-whitespace="nowrap"
			        data-transform_idle="o:1;" 
			        data-transform_in="o:0" 
			        data-transform_out="o:0" 
			        data-start="2000">
			    </div>
			</li>
		</ul>
	</div>
</section>

<section class="about-info-box sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-lg-4 hidden-md hidden-sm hidden-xs">
				<div class="img-cap-effect">
					<div class="img-box">
						<img src="/images/about-info-box/2.jpg" alt="<%=  siteName %>"/>
						<div class="img-caption">
							<div class="box-holder"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-12">
				<div class="sec-title">
					<h2><span>Who We Are</span></h2>
					<p><%=  siteName %> was set up in 1988, with its Head Office based in Silver Spring, Maryland. We also have a branch office in New York, Ohio and Service Partner in Netherland and Denmark. Our International Shipments are dispatched through the network of major Integrators with a coverage of 406 countries worldwide. We are seeking to expand our footprint in the MENA & SEA Region in the months to come.</p>
					<p>Our client base spans over 732,068 active customers. So, the next time you have a shipment to your customer or want to send a gift to someone you love, think <%=  siteName %></p>
					<ul class="bulleted-list">
						<li><i class="fa fa-arrow-circle-right"></i> One Stop Shop Solution</li>
						<li><i class="fa fa-arrow-circle-right"></i> Domestic and International Services</li>
						<li><i class="fa fa-arrow-circle-right"></i> Flexible Pricing</li>
						<li><i class="fa fa-arrow-circle-right"></i> Growing International presence</li>
						<li><i class="fa fa-arrow-circle-right"></i> Extremely Time critical</li>
						<li><i class="fa fa-arrow-circle-right"></i> Real Time Tracking of Packages</li>
						<li><i class="fa fa-arrow-circle-right"></i> Customized solutions for individual needs</li>
						<li><i class="fa fa-arrow-circle-right"></i> Flexible pickup & delivery times</li>
					</ul>
					<a href="/services" class="thm-btn">view our services <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="welcome-services home-one">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>Our Featured Services</span></h2>
			<!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Consect petur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p> -->
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="welcome-single-services">
					<div class="img-box">
						<img src="/images/welcome-services/1.png" alt="">
					</div>
					<div class="text-box">
						<div class="content">
							<h3>Air/Sea Fright</h3>
							<p>By using a combination of sea and air freight, you bring added flexibility to your supply chain.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="welcome-single-services">
					<div class="img-box">
						<img src="images/welcome-services/4.png" alt="">
					</div>
					<div class="text-box">
						<div class="content">
							<h3>Multimodal transport</h3>
							<p>Combined rail road transport is particularly well suited to the shipping of hazardous goods since it reduces risk.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="welcome-single-services">
					<div class="img-box">
						<img src="images/welcome-services/3.png" alt="">
					</div>
					<div class="text-box">
						<div class="content">
							<h3>Warehousing and storage</h3>
							<p><%=  siteName %> is able to offer heated or unheated warehouse solutions both for short-term and for long-term storage.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="welcome-single-services">
					<div class="img-box">
						<img src="images/welcome-services/2.png" alt="">
					</div>
					<div class="text-box">
						<div class="content">
							<h3>Forwarding services</h3>
							<p>With our extensive network, we will find a competitive and efficient solution to your next assignment.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="featured-services style-two">
	<div class="thm-container">
		<div class="row">
			<div class="col-lg-8 col-md-12 featured-service-box pull-right">
				<div class="col-md-6 col-sm-6">
					<div class="single-featured-service">
						<header>
							<div class="icon-box">
								<i class="flaticon-commercial15"></i>
							</div>
							<div class="title-box">
								<h3><span>Great History Made</span></h3>
							</div>						
						</header>
						<article>
							<p>We provide safe, secure, reliable and timely deliveries. With experience and expertise since 1988.</p>
						</article>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="single-featured-service">
						<header>
							<div class="icon-box">
								<i class="flaticon-woman93"></i>
							</div>
							<div class="title-box">
								<h3><span>Consulting Services</span></h3>
							</div>						
						</header>
						<article>
							<p>We employ a dedicated team of friendly and well-trained customer service representatives that maintain a quick response system and are closely managed by our senior management team.</p>
						</article>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="single-featured-service">
						<header>
							<div class="icon-box">
								<i class="flaticon-airplane68"></i>
							</div>
							<div class="title-box">
								<h3><span>Local, Regional & International Agents</span></h3>
							</div>						
						</header>
						<article>
							<p>We have partnered with local, regional and international agents to reach any destination at the cheapest rate and manage the supply chain across borders.</p>
						</article>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="single-featured-service">
						<header>
							<div class="icon-box">
								<i class="flaticon-delivery18"></i>
							</div>
							<div class="title-box">
								<h3><span>Goods Tracking Support</span></h3>
							</div>						
						</header>
						<article>
							<p>We own an IT infrastructure that ensures the visibility to track shipments, courier boys and their efficiency on a real-time basis for clients.</p>
						</article>
					</div>
				</div>
			</div>
			<div class="col-md-4 hidden-sm">
				<div class="left-full-img">
					<img src="images/full-man.jpg" alt="<%=  siteName %>" class="pull-right">
				</div>
			</div>
		</div>
	</div>
</section>



<section class="faq-section sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="sec-title">
					<h2><span>some of our core values</span></h2>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4>Our Vision</h4>
						</div>
						<div class="accrodion-content">
							<div class="img-caption">
								<div class="img-box">
									<img src="images/accrodion/1.jpg" alt="<%=  siteName %>"/>
								</div>
								<div class="content-box">
									<!-- <h4>Our Delivery is all our our country</h4> -->
									<p>To be the most reliable Domestic & International Express Service provider for our Customers.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="accrodion ">
						<div class="accrodion-title">
							<h4>Our Mission</h4>
						</div>
						<div class="accrodion-content">
							<div class="img-caption">
								<div class="img-box">
									<img src="images/accrodion/1.jpg" alt="<%=  siteName %>"/>
								</div>
								<div class="content-box">
									<!-- <h4>Our Delivery is all our our country</h4> -->
									<p>To bring value to our Customers by understanding and meeting their needs, build the human capital of our employees and enhance brand and shareholder value..</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="sec-title">
					<h2><span>Our location</span></h2>
				</div>
				<div class="view-location">
					<img src="images/view-location.png" alt="<%=  siteName %>"/>
					<!-- <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p> -->
					<a href="contact">view our locations</a>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="request-qoute has-overlay">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-6">
				<div class="sec-padding has-overlay">
					<div class="sec-title">
						<h2><span>Testimonials</span></h2>
					</div>
					<div class="testimonial-box with-carousel">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="content-box">
									<div class="top">
										<div class="qoute-box">
											“							
										</div>
										<div class="title">
											<h3>Excellent Cross Country Deliveries</h3>
										</div>
									</div>						
									<div class="content">							
										<p>We are very happy with service. The dispatchers are professional and responsive. There are no obstacles, and Lance has been a good problem solver for us, like when we had a tough time finding containers for overseas deliveries.</p>
										<span>Kenvil Miland</span>
										<!-- <img src="images/testimonials/1.png" alt=""> -->
									</div>
								</div>
							</div>
							<div class="item">
								<div class="content-box">
									<div class="top">
										<div class="qoute-box">
											“							
										</div>
										<div class="title">
											<h3>Great assistance Customer Service response</h3>
										</div>
									</div>						
									<div class="content">							
										<p>In a commodity business like trucking, <%=  siteName %> really stands out because of its customer service. They come out to discuss our needs, give us fast and accurate quotes, and get me a truck when they say they will. That makes it a relationship.</p>
										<span>Mikel Henson</span>
										<!-- <img src="images/testimonials/2.png" alt=""> -->
									</div>
								</div>
							</div>
							<div class="item">
								<div class="content-box">
									<div class="top">
										<div class="qoute-box">
											“							
										</div>
										<div class="title">
											<h3><%=  siteName %> is a Great Firm</h3>
										</div>
									</div>						
									<div class="content">							
										<p>Thank you for delivering the chairs to us so quickly. Your delivery guys were most helpful and courteous. You have been a pleasure to deal with and we will not hesitate to use your services again or recommend you.</p>
										<span>Mathias Nuffer Jensen</span>
										<!-- <img src="images/testimonials/3.png" alt=""> -->
									</div>
								</div>
							</div>
							<div class="item">
								<div class="content-box">
									<div class="top">
										<div class="qoute-box">
											“							
										</div>
										<div class="title">
											<h3>O2 Choose Atlan Always</h3>
										</div>
									</div>						
									<div class="content">							
										<p>We have always found them to be highly professional and reliable, and have assisted us in delivering a high standard service to our customers. Atlan have been a valuable supplier to Truflo and continue to be so.</p>
										<span>L M Garrington (MRS)</span>
										<!-- <img src="images/testimonials/1.png" alt=""> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="sec-padding">
					<div class="sec-title">
						<h2><span>request a quote</span></h2>
					</div>
					<form action="#" method="#" class="contact-form">
						<div class="form-grp full">
							<input type="text" required="required" name="name" placeholder="Name">
						</div>
						<div class="form-grp full">
							<input type="text" required="required" name="email" placeholder="Email*">
						</div>
						<div class="form-grp-box">
							<div class="form-grp half">
								<select class="select-menu" required="required" name="selectMenu">
									<option value="default">Choose Something...</option>	
									<option value="Ware Housing">Person</option>	
									<option value="Ware Housing">Cargo</option>	
									<!-- <option value="Ware Housing">Ware Housing</option>	
									<option value="Ware Housing">Ware Housing</option>	
									<option value="Ware Housing">Ware Housing</option>	 -->
								</select>
							</div>
							<div class="form-grp half">
								<input type="text" required="required" name="subject" placeholder="Subject">
							</div>
						</div>
						<div class="form-grp">
							<textarea name="message" required="required" placeholder="Message"></textarea>
						</div>
						<button type="submit" class="thm-btn">Submit Now <i class="fa fa-arrow-circle-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="fact-counter sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-User"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="12258"></h4>
						<p>Delivery Staff</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-BigTruck"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="5006"></h4>
						<p>Company Vehicles</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-WorldGlobe"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="27"></h4>
						<p>Supported Country</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-Briefcase"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="53068"></h4>
						<p>Deliveries Done</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>Logistic and Courier</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" href="/contact">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('./partials/footer') %> 