<%- include('./partials/head')  -%> 
<body>

<!-- include the main navigation  -->
<%- include('./partials/nav')  -%> 


<style>

    body {
        background: #fff;
    }
</style>

<section class="sec-padding single-service-page" >
    <% if(!package) { %>
        <p style="font-size: 20px; text-align: center; margin: 20px 0;">package not found</p>
        <hr>
   <%} else {%>
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 tracking-container" style="margin: auto; overflow: auto;">
                <h2>track your package</h2>
                
                <div class="barcode-contaiiner" style="text-align: center; margin-top: 10px;">
                    <img src="/images/barcode.png" alt="" style="width:30%; object-fit: contain">
                    <h3 style="color: green"><%= package.trackingId %></h3>
                </div>
                <div style="margin: 30px 0; display: flex !important; flex-wrap: wrap;">
                    <h3 style="font-size: 2em;">Tracking Code: <%= package.trackingId %></h3>
                    <span class="view-image" style="margin-left: auto; font-size: 18px;"><a href="#">View images</a></span>
                </div>
				<table class="table">
                    <thead>
                        <tr>
                            <th>Current Location</th>
                            <th>Destination Address</th>
                            <th>Status of Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= package.currentLocation %></td>
                            <td><%= package.destination %></td>
                            <td><%= package.status %> >>></td>
                        </tr>
                    </tbody>

                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Sender Email</th>
                            <th>Package</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="width: 100%;">
                            <td><%= package.senderName %></td>
                            <td><%= package.senderEmail %></td>
                            <td><%= package.item %></td>
                        </tr>
                    </tbody>

                    <thead class="active">
                        <tr>
                            <th>Receiver Name</th>
                            <th>Receiver Email</th>
                            <th>Receiver Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= package.receiverName %></td>
                            <td><%= package.receiverEmail %></td>
                            <td><%= package.receiverNumber %></td>
                        </tr>
                    </tbody>

                    <thead class="active">
                        <tr>
                            <th>Destination Address</th>
                            <th>Depature Date</th>
                            <th>Expected Delivery Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= package.destination %></td>
                            <td><%= package.depatureDate %></td>
                            <td><%= package.deliveryDate %></td>
                        </tr>
                    </tbody>

                    <thead class="active">
                        <tr>
                            <th>Shipment Method</th>
                            <th>Pickup Date & Time</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= package.shipmentMethod %></td>
                            <td><%= package.pickupDate %></td>
                            <td><%= package.weight %></td>
                    </tbody>
                    
                </table>

			</div>
		</div>
	</div>
</section>
<% } %> 

<style>
    .image-wrapepr {
        position: absolute;
        display: none;
        align-items: center;
        top: 0px;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        padding: 40px;
        overflow: scroll;
        z-index: 1;
    }

    .image-wrapepr.show {
        display: flex;
    }

    .image-container-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        background: #fff;
        overflow: scroll;
        margin-top: 70px;

    }

    .image-container-inner img {
        max-width: 380px;
        height: auto;
    }

    .times {
        color: #fff;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        right: 70px;
        top: 50px;
    }

    @media screen and (max-width: 767px) {

        .image-wrapepr {
            padding: 10px;
        }

        .image-container-inner {
            flex-wrap: nowrap;
            padding: 5px;
            overflow: scroll;
        }
    }

</style>

<section>
    
    <div class="image-wrapepr">
        <div class="image-container">
            <span class="times" style="color:#fff">&times</span>
            <div class="image-container-inner">
                <% if(package.image.length < 1) { %>
                    <p>This package does not have any image</p>
                    <% } else { %>
                        <% for(let i = 0; i < package.image.length; i++) { %> 
                            <img src="<%= package.image[i].filePath %>" alt="">
                        <% 
                            } 
                        }
                    %>
            </div>
        </div>
    </div>
</section>


<script>
    const viewImages = document.querySelector('.view-image');
    const imageWrapper = document.querySelector('.image-wrapepr');
    const times = document.querySelector('.times');


    const openImage = (e) => {
        e.preventDefault();
        imageWrapper.classList.add('show')
    }

    const closeImage = (e) => {
        e.preventDefault()
        imageWrapper.classList.remove('show')
    }


    viewImages.addEventListener('click', openImage)
    times.addEventListener('click', closeImage)
</script>

<!-- include footer  -->
<%- include('./partials/footer.ejs')  -%> 