<% let status = page %>

<div class="mobileMenu">
    <div class="innerWrapper">
        <div class="sideLogo">
            <!-- <img src="" alt=""> -->
            <!-- <p>Express Delivery</p> -->
            <i class="fa-solid fa-xmark closeNav"></i>
        </div>
        <ul>
            <li>
                <a href="/admin/dashboard" class="<%- status=="dashboard" ? 'active' : '' %> ">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-life-ring"></i>&nbsp; Dashboard</span>
                </a>
            </li>
            <li>
                
                <a href="/admin/create" class="<%- status=="create" ? 'active' : '' %> ">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-plus"></i>&nbsp; Create package</span>
                </a>
            </li>
            <li>
                <a href="/admin/view" class="<%- status=="view package" ? 'active' : '' %> ">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-eye"></i>&nbsp; View packages</span>
                </a>
            </li>

            <li>
                <a href="/admin/change-location" class="<%- status=="location" ? 'active' : '' %> ">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-eye"></i>&nbsp;Update Location</span>
                </a>
            </li>
           
            <li>
                <a href="/admin/Settings" class="<%- status=="settings" ? 'active' : '' %> ">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-gears"></i>&nbsp; Settings</span>
                </a>
            </li>

            <li>
                <a href="" class="logout-btn">
                    <span class="icon"><i class="fa-solid fa-grid-horizontal"></i></span>
                    <span class="menu"><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>